body,
html {
  text-align: center;
  /* letter-spacing: 0.1px; */
}

#task_table {
  margin: 10px auto;
  width: 20%;
  border: 1px solid black;
}

.col {
  border: 1px solid black;
}

.row {
  background-color: rgb(107, 131, 156);
  color: white;
}

.row:nth-child(even) {
  background-color: rgb(149, 178, 210);
}

.task_col {
  text-align: left;
}

.table_header {
  font-weight: bold;
  color: white;
  background-color: slategray;
}
